<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAfp4s_MLB1kmFiiIFNlxbaWi_AyJ0Zcpo</string>
	<key>GCM_SENDER_ID</key>
	<string>252730768817</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.whatnot.store</string>
	<key>PROJECT_ID</key>
	<string>whatnot-store</string>
	<key>STORAGE_BUCKET</key>
	<string>whatnot-store.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:252730768817:ios:d092235c3ecc344cca1190</string>
</dict>
</plist>